.player {
    width: rem-calc($piece-size);
    height: rem-calc($piece-size);
    border-radius: 50%;
    margin-bottom: rem-calc($board-size / 4 - $piece-size);
    margin-right: rem-calc(($board-size / 4) - $piece-size);
    transform: translateY(-#{rem-calc($piece-size/2)});
    cursor: pointer;

    &:nth-child(5n) {
        margin-right: 0;
    }

    &-1 {
        background-color: red;
    }

    &-2 {
        background-color: green;
    }

    &-position {
        font-weight: bold;
        font-size: 13px;
    }
}

.no-player {
    background-color: white;
    box-shadow: 0 0 7px 2px black;
}

.piece-modal {
    &-outer {
        position: absolute;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        width: rem-calc($board-size + $piece-size);
        height: rem-calc($board-size + $piece-size);
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        margin-bottom: 50px;
        overflow: hidden;
        z-index: 10;
    }

    &-view {
        pointer-events: none;
        top: -#{rem-calc($piece-size/2)};
         z-index: 1;
    }
}

.player-on-view {
    pointer-events: none;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.message-Modal {
    position: absolute;
    top: 20px;
    right: 20px;
    background: red;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
