.player {
    width: rem-calc($piece-size);
    height: rem-calc($piece-size);
    border-radius: 50%;
    margin-bottom: rem-calc($board-size / 4 - $piece-size);
    margin-right: rem-calc(($board-size / 4) - $piece-size);
    // transform: translateY(-#{rem-calc($piece-size/2)});
    cursor: pointer;

    &:nth-child(5n) {
        margin-right: 0;
    }

    &-1 {
        $player-color: #f85f54;

        background-color: rgba($player-color,1);
        box-shadow: 0 0 20px rgba($player-color,1),
                    0 0 40px rgba($player-color,1),
                    0 0 60px rgba($player-color,1),
                    0 0 80px rgba($player-color,1),
                    0 0 0 8px rgba($player-color,.1);

        &.active-player {
            box-shadow: 0 0 20px rgba($player-color,1),
                        0 0 40px rgba($player-color,1),
                        0 0 60px rgba($player-color,1),
                        0 0 80px rgba($player-color,1),
                        0 0 0 8px rgba($player-color,.1) !important;
        }
    }

    &-2 {
        $player-color2: #05e9ca;

        background-color: rgba($player-color2,1);
        box-shadow: 0 0 20px rgba($player-color2,1),
                    0 0 40px rgba($player-color2,1),
                    0 0 60px rgba($player-color2,1),
                    0 0 80px rgba($player-color2,1),
                    0 0 0 8px rgba($player-color2,.1);
        &.active-player {
            box-shadow: 0 0 20px rgba($player-color2,1),
                    0 0 40px rgba($player-color2,1),
                    0 0 60px rgba($player-color2,1),
                    0 0 80px rgba($player-color2,1),
                    0 0 0 8px rgba($player-color2,.1) !important;
        }
    }

    &-position {
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        border: 1px solid $board-border-color;
        background: $bg-color;
    }
}

.piece-modal {
    &-outer {
        position: absolute;
        top: 0;
        display: flex;
        flex-wrap: wrap;
        width: rem-calc($board-size + $piece-size);
        height: rem-calc($board-size + $piece-size);
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 50px;
        margin-bottom: 50px;
        z-index: 10;
    }

    &-view {
        top: -#{rem-calc($piece-size/2)};
    }
}

.player-on-view {
    position: absolute;
    transition: 0.3s ease-in-out;
}

.message-Modal {
    border-radius: 20px;
    background: $bg-color;
    box-shadow:  -23px 23px 48px #111111,
             23px -23px 48px #2d2d2d;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #b1b1b1;
    box-shadow: inset -1px -1px 3px rgba(255,255,255,0.1),
            inset 2px 2px 6px rgba(0,0,0,0.8);

    h1,h2,h3 {
        margin: 0;
    }

    h2, h3 {
        font-size: 24px;
    }
}

.board-heading {
    font-family: 'Bungee Outline', cursive;
    font-size: 32px;
    margin-bottom: 15px !important;
}

.dead-player,
.d-none {
    display: none !important;
}

.side-modal {
    position: absolute;
    top: 50px;

    &-1 {
        left: 40px;
    }

    &-2 {
        right: 40px;
    }
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

.nav-top {
    position: absolute;
    width: calc(100% - 80px);
    text-align: center;
    bottom: 20px;
    left: 40px;
}

.game-timer {
    font-size: 40px;
    font-weight: 900;
    margin-top: 10px;
}

.board-player {
    box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
                2px 2px 6px rgba(0,0,0,0.8);

    &:hover {
        box-shadow: inset -1px -1px 3px rgba(255,255,255,0.1),
                    inset 2px 2px 6px rgba(0,0,0,0.8);
    }
}

.btn-neon {
    position: relative;
    display: inline-block;
    padding: 8px 24px;
    text-transform: uppercase;
    color: #2894ff;
    background-color: #262c37;
    font-size: 14px;
    letter-spacing: 2px;
    transition: 0.5s;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    font-weight: 700;

    span {
        position: absolute;
        display: block;
        background-color: #2894ff;
        
        &:nth-child(1) {
            left: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform 0.25s;
        }

        &:nth-child(2) {
            left: 0;
            top: 0;
            width: 100%;
            height: 1px;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.25s;
            transition-delay: 0.25s;
        }

        &:nth-child(3) {
            right: 0;
            bottom: 0;
            width: 1px;
            height: 100%;
            transform: scaleY(0);
            transform-origin: bottom;
            transition: transform 0.25s;
            transition-delay: 0.5s;
        }

        &:nth-child(4) {
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.25s;
            transition-delay: 0.75s;
        }
    }

    &:hover {
        background-color: #2894ff;
        color: #262c37;
        transition-delay: 1s;

        span {
            &:nth-child(1) {
                transform: scaleY(1);
                transform-origin: bottom;
            }

            &:nth-child(2) {
                transform: scaleX(1);
                transform-origin: left;
            }

            &:nth-child(3) {
                transform: scaleY(1);
                transform-origin: top;
            }

            &:nth-child(4) {
                transform: scaleX(1);
                transform-origin: right;
            }
        }
    }
}

.mr-0 {
    margin-right: 0 !important;
}

.game-started {
    .player-1,
    .player-2 {
        box-shadow: none;
    }
}

.btn {
    transition: 0.3s ease-in-out;
}

.btn-play-pause {
    min-width: 115px;
}

.game-btns-view {
    .btn:not(.btn-game-start) {
        display: none;
    }
}

.hide-start-btn {
    .btn-game-start {
        display: none;
    }
}

.cube {
    transition: all 250ms ease;
    transform-style: preserve-3d;
}

.default-state,
.active-state,
.cube {
    height: 60px;
}

.flip-to-top .active-state {
    transform: rotateX(90deg) translateZ(150px);
}

.error-msg {
    transform: rotateX(-89deg);

    .default-state {
        transform: translateZ(50px);
        background: linear-gradient(225deg, #212121, #1c1c1c);
        box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    }
}

.default-state,
.active-state {
    background: linear-gradient(225deg, #212121, #1c1c1c);
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active-state {
    background: linear-gradient(225deg, #212121, #1c1c1c);
    font-size: 30px;
    font-weight: 600;
    color: #05e9ca;

    &-border {
        position: absolute;
        width: 100%;
        height: 100%;
        animation: intermittente 0.01s infinite alternate;
        border: 1px solid #cb3535;
        box-shadow: 0px 0px 55px rgba(204, 0, 0, 0.3), 
                    0 0 31px rgba(204, 0, 0, 0.3), 0 0 2px rgba(255, 0, 0, 0.3), 
                    0 0 21px rgba(204, 0, 0, 0.3), 0 0px 17px rgba(204, 0, 0, 0.3), 
                    inset 0px 0 17px rgba(204, 0, 0, 0.3), 
                    inset 0px 0 30px rgba(204, 0, 0, 0.3); 
        
        }
}

@keyframes intermittente {
    75% {
        opacity: 0.7;
    }
}

.close-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: -7px;

    &-outer {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background: transparent;
        border: none;
    }
}
